body, html {
        margin: 0;
	width: 100%;
	height: 100%;
        overflow: hidden;
}

* { box-sizing: border-box; }

.rollBtn{
  width: 70px;
  height: 70px;
}

.dice-container {
        width: 350px;
/*        border: 1px solid black;*/
        margin: auto;
        text-align: center;
        float: left;
}

.rollOutcome p{
    
    display: inline;
}

.dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
}

img {
    width: 100%;
}

.rollBtn{
  width: 70px;
  height: 70px;
}

.container-grid {
    margin: 2% auto auto 30%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    max-width: 538px;
    background-color: #BFBFBF;
}

.tile {
    border: 1px solid black;
    min-width: 75px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.first-number {
    color: red;
}

.second-number {
    color: blue;
}