body, html {
        margin: 0;
	width: 100%;
	height: 100%;
        overflow: hidden;
}

.container {
        width: 70%;
        margin: auto;
        text-align: center;
}

.dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
}

img {
    width: 100%;
}

.rollBtn{
  width: 70px;
  height: 70px;
}

.tile {
    border: 1px solid black;
    min-width: 75px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.first-number {
    color: red;
}

.second-number {
    color: blue;
}